/*
VARIABLES

$base-font: Main font family.
$base-font-size: Main font size
$fontsize-f3-cta: CTA (button font size)
$fontsize-f3-mid: End frame (non button) base font size
$fontsize-f3-mid: End frame (non button) base font size
$logo-width: Width of the logo.
$content-pad: The base padding for all content.
$full-width: The size of the layout coordinate plane.  Derived from the actual ad width.
$full-height: The size of the layout coordinate plane.  Derived from the actual ad height.
$base-color: Primary foreground color.

$endframe-layout: Flex direction of end frame.
 * 'row' : Generally used for horizontal ads.
 * 'column': Standard system to slot content into a column.
 $logo-pos: Logo position.
 * 'centered': vertically centered
 * '*': top ($content-pad), left ($content-pad)

 */
/*  
MIXINS
 */
/*
AD CONTAINER STUFF
 */
#background_exit_ad {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 400;
  border: none;
}

#reloader {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 15px;
  height: 15px;
  z-index: 500;
  opacity: 0;
}
#reloader .restarter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}

/*
General helpers
 */
sup {
  vertical-align: text-top;
  font-size: 0.5em;
  line-height: 1em;
}

.textbox-price {
  display: inline-block;
  position: relative;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.showing {
  opacity: 1 !important;
}

.ad-container {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1em;
}
.ad-container,
.ad-container button,
.ad-container td {
  font-family: wf_gdsage-bold;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.logo {
  transform: scale(1.2);
  position: absolute !important;
  left: 13px;
  top: 13px;
  right: auto;
  bottom: auto;
  width: 95px;
  height: 20.9px;
  opacity: 1;
  z-index: 100;
}
.logo #gd_logo {
  fill: #ffffff;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.logo #gd_logo path {
  opacity: 0;
}

/* Attempt at putting a border for white background using a flag   */
.ad-container {
  border: none;
}

/*
  FRAME SETUP
   */
.ad-container {
  width: 160px;
  height: 600px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.ad-content {
  opacity: 0;
}
.ad-content.showing {
  opacity: 1;
}

/*
SETUP
 */
.frame-container {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}
.frame-container .frame {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  overflow: hidden;
  opacity: 1;
  font-kerning: none;
}
.frame-container .frame .textholder {
  display: flex;
  align-items: center;
}
.frame-container .frame .v5frame {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  opacity: 0;
  background: #111111;
  color: #ffffff;
}
.frame-container .frame .v5frame.reversed {
  background: #111111;
  color: #ffffff;
}
.frame-container .frame .imgframe {
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}
.frame-container .frame .imgframe.svg {
  padding: 6.5px;
  display: flex;
}
.frame-container .frame .imgframe.svg svg {
  width: 100%;
  max-height: 100%;
}
.frame-container.background {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}
.frame-container.foreground {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}
.frame-container.foreground .textholder {
  width: 134px;
  line-height: 1.1em;
}
.frame-container.foreground .textholder .text span {
  position: relative;
  white-space: nowrap;
}
.frame-container.foreground .textholder .text span:last-child {
  margin-right: 0;
}
.frame-container.foreground .textholder .text span.supered {
  padding-right: 0.26em;
}
.frame-container.foreground .frame {
  position: absolute;
}
.frame-container.foreground .frame-1 {
  display: flex;
  flex: 1;
  z-index: 50;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  line-height: 1.1em;
  font-size: 23px;
  flex-direction: column;
  justify-content: center;
}
.frame-container.foreground .frame-2 {
  font-size: 24px;
}
.frame-container.foreground .frame-end {
  position: absolute;
  z-index: 50;
  color: #ffffff;
}
.frame-container.foreground .frame-end .content {
  /*  Absolutely positioned since some of the layouts need to go edge to edge. */
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  display: flex;
  line-height: 1.1em;
  font-size: 21px;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
}
.frame-container.foreground .frame-end .content .textbox-headline {
  font-size: 1.35em;
  line-height: 1.1em;
}
.frame-container.foreground .frame-end .text-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.frame-container.foreground .frame-end .cta-block {
  align-items: center;
}
.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  padding: 0.5em 1em;
  width: auto;
  max-width: 100%;
  background: #ffffff;
  color: #111111;
  border: none;
  font-size: 13.2px;
  border-radius: 0.4em;
  background: #ffffff;
  color: #111111;
}

.frame-container .frame .v5frame {
  /*
  z-index: 20;
   */
}

.frame-container.foreground .frame-1 .textholder .text {
  font-family: wf_gd_sherpa_semibold;
}

.frame-container.foreground .frame-2 .textholder .text {
  font-family: wf_gd_sherpa_semibold;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  font-family: wf_gdsage-bold;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  font-family: wf_gdsage-bold;
}

.frame-container.foreground .frame-end .content .textbox-subtext {
  font-family: wf_gd_sherpa_semibold;
}

.frame-container.foreground .frame-end .content .textbox-price {
  font-family: wf_gdsage-bold;
}

.frame-container.foreground .frame-end .content .textbox-descriptor {
  font-family: wf_gd_sherpa_semibold;
}

.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  font-family: wf_gd_sherpa_semibold;
}

.frame-container.foreground .frame-end .content .price-block {
  display: none;
}

.textbox-subtext {
  display: none;
}

.textbox-headline span span {
  font-size: 0.5em;
  line-height: 0.5em;
  position: relative;
  top: -0.8em;
}

.priceoffer {
  display: none;
}

.frame-2 {
  display: none;
}

.frame-container.foreground .frame-end .has-domain-search .text-block {
  justify-content: space-between;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input {
  margin-top: 6px;
  display: flex;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input input[type=text] {
  border: 1px solid black(0.5);
  height: 36px;
  width: 63%;
  margin: 0px;
  padding: 6px 6px;
  font-size: 12px;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input button {
  margin: 0px;
  height: 36px;
  color: #111111;
  background: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 33%;
  margin-left: 4%;
  font-family: wf_gd_sherpa_semibold;
  font-size: 14px;
}
.frame-container.foreground .frame-end .has-domain-search .disclaimer {
  font-size: 12px;
  font-family: wf_gd_sherpa_semibold;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.frame-container.foreground .frame-end .has-domain-search h5 {
  margin-top: 13px;
  margin-bottom: 7px;
  font-family: wf_gd_sherpa_semibold;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal !important;
}
.frame-container.foreground .frame-end .has-domain-search .domainshort {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 13px;
}
.frame-container.foreground .frame-end .has-domain-search .domain {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.frame-container.foreground .frame-end .has-domain-search .domain a {
  margin-left: auto;
}
.frame-container.foreground .frame-end .has-domain-search .domain button {
  height: 28px;
  color: #111111;
  background: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 25%;
  font-family: wf_gd_sherpa_semibold;
  font-size: 12px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 80px;
}
.frame-container.foreground .frame-end .has-domain-search .domain h3 {
  font-family: wf_gd_sherpa_semibold;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#searchMore {
  display: none;
}

.p_logo-wrapper {
  display: none;
}

.frame-container.foreground .logo {
  left: 12px;
  top: 22px;
  width: 133px;
  height: 27px;
}

.frame-container.foreground .frame-2 {
  display: none;
}

.frame-container .imgframe {
  position: absolute;
}
.frame-container .imgframe.imgframe-1 {
  width: 194px;
  top: 130px;
  left: 0px;
  height: 229px;
}
.frame-container.foreground .logo {
  left: 13px;
  top: 24px;
  width: 124px;
  height: 27px;
  left: 25px;
  top: 22px;
  width: 112px;
  height: 28px;
}
.frame-container.foreground .logo #gd_logo {
  fill: #000000;
}
.frame-container.foreground .frame-1 .textholder {
  position: absolute;
  left: 13px;
  right: 13px;
  top: 266px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-container.foreground .frame-end .content {
  top: 37px;
  height: auto;
  bottom: 0px;
}

.frame-container.foreground .frame-1 .textholder .text {
  height: 90px;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  margin-top: 8px;
}
.frame-container.foreground .frame-end .cta-block {
  width: 100%;
}
.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  width: 100%;
}

.frame-container.foreground .frame-end .has-domain-search .domain-search-input {
  flex-direction: column;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input input[type=text] {
  width: 100%;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input button {
  width: 120px;
  margin: 13px 0px 0px 0px;
}
.frame-container.foreground .frame-end .has-domain-search .disclaimer {
  line-height: 12px;
  font-size: 10px;
}

.frame-container.foreground .frame-end .has-domain-search .domain-search-input .ad-container button {
  height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100px;
  font-family: wf_gd_sherpa_semibold;
  font-size: 12px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input h3 {
  font-family: "GDSherpa-Bold";
  color: black;
  font-size: 20px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.frame-container.foreground .frame-end .has-domain-search h5 {
  font-size: 14px;
  line-height: 16px;
}
.frame-container.foreground .frame-end .has-domain-search .domain {
  flex-direction: column;
  align-items: flex-start;
}
.frame-container.foreground .frame-end .has-domain-search .domain h3 {
  width: 100%;
}
.frame-container.foreground .frame-end .has-domain-search .domain a {
  margin-left: 0px;
}
.frame-container.foreground .frame-end .has-domain-search .domain button {
  margin-top: 4px;
}

.frame-container.foreground .frame-end .disclaimer {
  display: none;
}

.frame-container .imgframe {
  position: absolute;
}
.frame-container .imgframe.imgframe-1 {
  width: 194px;
  top: 130px;
  left: 0px;
  height: 229px;
}
.frame-container.foreground .logo {
  left: 13px;
  top: 24px;
  width: 124px;
  height: 27px;
  left: 25px;
  top: 22px;
  width: 112px;
  height: 28px;
}
.frame-container.foreground .logo #gd_logo {
  fill: #000000;
}
.frame-container.foreground .frame-1 .textholder {
  position: absolute;
  left: 13px;
  right: 13px;
  top: 395px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-container.foreground .frame-end .content {
  top: 37px;
  height: auto;
  bottom: 0px;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  margin-top: 8px;
}

.frame-container.foreground .frame-end .cta-block {
  width: 134px;
}

.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  width: 100%;
}

.frame-container.foreground .frame-end .has-domain-search .domain-search-input {
  flex-direction: column;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input input[type=text] {
  width: 100%;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input button {
  width: 120px;
  margin: 13px 0px 0px 0px;
}
.frame-container.foreground .frame-end .has-domain-search .disclaimer {
  line-height: 12px;
  font-size: 10px;
}

.frame-container.foreground .frame-end .has-domain-search .domain-search-input .ad-container button {
  height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100px;
  font-family: wf_gd_sherpa_semibold;
  font-size: 12px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
.frame-container.foreground .frame-end .has-domain-search .domain-search-input h3 {
  font-family: "GDSherpa-Bold";
  color: black;
  font-size: 20px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.frame-container.foreground .frame-end .has-domain-search h5 {
  font-size: 14px;
  line-height: 16px;
}
.frame-container.foreground .frame-end .has-domain-search .domain {
  flex-direction: column;
  align-items: flex-start;
}
.frame-container.foreground .frame-end .has-domain-search .domain h3 {
  width: 100%;
}
.frame-container.foreground .frame-end .has-domain-search .domain a {
  margin-left: 0px;
}
.frame-container.foreground .frame-end .has-domain-search .domain button {
  margin-top: 4px;
}

.frame-container.foreground .frame-end .disclaimer {
  display: none;
}

.frame-container .imgframe.imgframe-1 {
  width: 160px;
  top: 120px;
  left: 0px;
  height: 260px;
}

.texture-1 {
  height: 260px;
  width: 170px;
  margin-top: 120px;
  background-repeat: no-repeat;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  margin-top: 8px;
}

.frame-container.foreground .frame-end .disclaimer {
  font-size: 9px;
  margin-right: 14px;
  margin-top: 4px;
  margin-bottom: -4px;
  width: 90px;
}

.frame-container.foreground .frame-1 .textholder .text {
  color: #1bdbdb;
  text-transform: uppercase;
  font-family: "wf_gd_sherpa_display_rekern_extbd";
  font-kerning: auto;
  line-height: 0.85em;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  font-family: wf_gd_sherpa_display_medium;
}

.frame-container.foreground .frame-end .cta-block .button-wrapper button {
  background: #1bdbdb;
}

.frame-3 .text {
  font-size: 9px;
  font-family: wf_gd_sherpa_display_medium;
}

sup {
  vertical-align: super;
}

.frame-container.foreground .frame-1 .textholder .text {
  line-height: 0.8em;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  line-height: 1em;
}

y {
  position: relative;
  left: -2px;
}

period {
  position: relative;
  left: -4px;
}

cap_a {
  position: relative;
  left: -3px;
}

myspan {
  position: relative;
  left: -3px;
}

.frame-container.foreground .frame-1 .textholder {
  position: absolute;
  left: 13px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  top: 370px;
}

.frame-container .imgframe.imgframe-1 {
  width: 160px;
  left: 0px;
  height: 600px;
  top: -20px;
}

.frame-3 .text {
  font-size: 8px;
  margin-left: 21px;
  line-height: 1.2em;
  margin-top: 275px;
}

.frame-container.foreground .frame-end .priceoffer {
  margin-left: 0px;
}

.frame-container.foreground .frame-1 .textholder .text {
  height: auto;
}

y {
  position: relative;
  left: -2px;
}

period {
  position: relative;
  left: -4px;
}

cap_a {
  position: relative;
  left: -1px;
}

.frame-container.foreground .frame-end .content .textbox-headline {
  width: 140px;
}

.frame-container.foreground .frame-1 .textholder .text span:nth-child(3)::after {
  content: " ";
  display: block;
}